/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  background: #f5f5f5;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;

  background: linear-gradient(90deg, #22c55e, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 16px;
  color: #cbd5e1;
  max-width: 500px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #22c55e, #06b6d4);
  color: white;
  font-weight: bold;
}

/* APP */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 15px;
}

/* CARDS */
.form, .card {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* INPUTS */
input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* LIST */
ul {
  list-style: none;
  margin-top: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  word-break: break-word;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 14px;
  }

  .form, .card {
    width: 95%;
  }

  input, select, button {
    font-size: 15px;
  }
}